<main>
  <div class="mast container">
    <header class="mast__header">
      <div class="">
          <h1 class="mast__title js-spanize d-flex justify-content-center py-5">Pages#playground</h1>
          <p class="mast__text js-spanize py-3">
This is where my playground is
      </div>
      <div class="main_links py-3 px-5">
        <%= link_to "Playground", "playground" %>
      </div>
    </header>
  </div>
  <p class="mast__text js-spanize" id="version">Version ßeta</p>
</main>
