<div class="container-fluid">
  <div class="fixed-upper-panel">
    <div class="name">
      Thomas Bensadoun
    </div>
    <div class="position">
      Développeur Web
    </div>
  </div>
  <div class="row">
    <div class="col-3 panel-title">
      <div class="title">
        Compétences acquises
      </div>
      <div class="subtitle">
        Fourre-tout
      </div>
    </div>
    <div class="col-9 panel-pres">

      <div class='acad'>
        <p>J'ai suite à mon bachelor, lors du début du COVID, commencé à travailler de chez moi en tradant sur le marché boursier, étant de nature curieuse, j'ai du mettre en pause
        mes autres activités pour me consacrer à apprendre tout ce qui pouvait me servir à comprendre la valeur d'un stock à un instant t (intrinsèque et extrinsèque) afin de pouvoir
        trader et investir responsablement.</p>
        <p class='left-p'>Je préfère cependant créer de la valeur pour gagner ma vie plutôt que scalper les mouvements boursiers ce qui m'a donc conduit à récemment accroître mon temps d'apprentissage en informatique.
        Je recherche aujourd'hui un travail dans le développement d'application web, afin de produire des fonctionnalités et de pouvoir compléter et étendre mon champ d'expertise dans les technologies du web.</p>
        <p class='left-ppi'>Je parle couramment français et anglais. J'ai un bachelor en commerce, marketing et communication ainsi que des compétences en informatique qui comprennent Ruby on Rails, JS (dont React et Node), Python, Html et Css. J'ai aussi eu l'opportunité de participer à la réalisation de sites web professionelles via des CMO tels que Wordpress et Shopify.</p>
        <p class='left-ppa text-center'>Si vous avez besoin d'un développeur d'application web qui touche à tout, n'hésitez pas et contactez moi, je serais ravi d'échanger avec vous.</p>
        <p class='left-ppv'><%= link_to 'Vous pouvez téléchargez mon CV ici, où vous trouverez mes informations de contact.', '/ThomasBensadoun.pdf' %></p>
        <div class='follow-m'>
          <p>Ajoutez moi</p>
            <a href='https://github.com/ThomBen'><img class='fir' src="https://png.monster/wp-content/uploads/2022/02/png.monster-703.png" alt="Logo Github"></a>
            <br>
            <a href='https://www.codewars.com/users/Tembo_'><img class='sec' src="https://camo.githubusercontent.com/d3dd4b287f8297ce87880374d2f99abf9b102865192edebf37e3628aa50b951d/68747470733a2f2f7777772e7175616c69666965642e696f2f7368617265642f696d616765732f636f6465776172732d626c61636b2d6c617267652d32346139643335352e706e67" alt="Logo Codewars"></a>
        </div>
        <img src='https://download.logo.wine/logo/Ruby_on_Rails/Ruby_on_Rails-Logo.wine.png' alt='logo ruby on rails' class='imgpos_1'>
        <img src='/assets/ruby_logo' alt='' class='imgpos_2'>
        <img src='/assets/html_css_js' alt='' class='imgpos_3'>
        <img src='http://www.impulsmap.fr/wp-content/uploads/2016/07/LogoPostgreSql100reel.png' alt='' class='imgpos_4'>
        <img src='https://upload.wikimedia.org/wikipedia/commons/8/87/Sql_data_base_with_logo.png' alt='' class='imgpos_5'>
        <img src='/assets/DIVA' alt='Diva Bordeaux Logo' class='stud-a'>
        <img src='https://uploads-ssl.webflow.com/5f4e38c152cd205192a8b27d/5f60b99e8009d049578bf915_logo-lydia.png' alt='Lydia Solutions Logo' class='stud-b'>
        <img src='/assets/ESG-logo' alt='ESG Logo' class='stud-c'>
        <img src='https://upload.wikimedia.org/wikipedia/commons/5/5a/Walt_Disney_World_Logo_2018.svg' alt='Disney World Logo' class='stud-d'>
      </div>




    </div>
  </div>
  <%# <%= render partial: "fixed_lower_panel", sheet: @sheet %>
</div>
