.panel-title{
  color: white;
  height: 70vh;
  padding: 2vh 3vw 0 3vw;
  .title{
    padding: 10px;
    font-size: 20px;
  }
  .subtitle{
    padding: 10px 10px 10px 30px;
    margin-top: 3vh;
  }
}

.left-img{
  position: absolute;
  height: 45vh;
  left:10px;
  bottom:40px;
  mix-blend-mode: difference;
  opacity: 0.2;
  transition: opacity 2s ease-in-out;
  &:hover{
    opacity:1;
  }
}

.panel-pres{
  color: white;
  height: 70vh;
  padding: 15vh 3vw 0 3vw;
  .col-4 img{
    height: 20vh;
    opacity: 0.4;
    transition: all 2s ease-in-out;
    overflow: overlay;
  }
  .col-4 img:hover{
    opacity: 1;
    height: 25vh;
  }
}

.fixed-upper-panel{
  height: 20vh;
  padding: 50px;
  .name{
    color: white;
    font-size: 22px;
  }
  .position{
    color: white;
    font-size: 18px;
  }
}

.hidden{
  display:none;
}

.fixed-lower-panel{
  width: 100%;
  position: absolute;
  display:flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  height: 140px;
}

.buttons-js{
  position: relative;
  width: 300px;
  img{
    position: relative;
    width: 100%;
  }
}
.button-right{
  position:absolute;
  right: 18%;
  bottom: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  img{
    filter: brightness(0.4);
    transition: all 1s ease-in-out;
    &:hover {
      filter: brightness(1);
      width: 55px;
    }
  }
}

.button-left{
  position:absolute;
  left: 18%;
  bottom: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  img{
    filter: brightness(0.4);
    transition: all 1s ease-in-out;
    &:hover {
      filter: brightness(1);
      width: 55px;
    }
  }
}

.button-up{
  position:absolute;
  left: 50%;
  top: 30%;
  height: 0px;
  width: 40px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  img{
    filter: brightness(0.4);
    transition: all 1s ease-in-out;
    &:hover {
      filter: brightness(1);
    }
  }
}

.button-down{
  position:absolute;
  left: 50%;
  top: 120px;
  height: 50px;
  width: 40px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  img{
    filter: brightness(0.4);
    transition: all 1s ease-in-out;
    &:hover {
      filter: brightness(1);
    }
  }
}

.logo-x{
  position: absolute;
  width: 500px;
  top: 230px;
  opacity: 0.8;
  mix-blend-mode: plus-lighter;
  -webkit-filter: drop-shadow(1px 1px 1px white);
  filter: drop-shadow(1px 1px 1px white);
  &:hover{
    opacity: 1;
  }
}

body{
  overflow: hidden;
}

.left-imgs img{
  position: relative;
  display: flex;
  left: 10px;
  height: 20vh;
  opacity: 0.4;
  transition: all 2s ease-in-out;
  &:hover{
    overflow: hidden;
    opacity: 1;
    height: 25vh;
    z-index:1;
  }
}

.lower-imgs img{
  position: fixed;
  height: 20vh;
  opacity: 0.4;
  transition: all 2s ease-in-out;
  &:hover{
    overflow: hidden;
    opacity: 1;
    height: 25vh;
    z-index:1;
  }
}

.four-setup{
  .first{
    position:absolute;
    width: 20vw;
    top: 45vh;
    left: 2vw;
    opacity: 0.4;
    transition: all 2s ease-in-out;
    &:hover{
      overflow: hidden;
      opacity: 1;
      width: 25vw;
      z-index:1;
    }
  }
  .second{
    position:absolute;
    width: 20vw;
    top: 70vh;
    left: 2vw;
    opacity: 0.4;
    transition: all 2s ease-in-out;
    &:hover{
      overflow: hidden;
      opacity: 1;
      width: 25vw;
      z-index:1;
    }
  }
  .third{
    height: 20vh;
    margin-top: 4vh;
    margin-left: 4vw;
    opacity: 0.4;
    transition: all 2s ease-in-out;
    &:hover{
      overflow: hidden;
      opacity: 1;
      height: 25vh;
      z-index:1;
    }
  }
  .fourth{
    height: 20vh;
    margin-top: 4vh;
    margin-right: 4vw;
    opacity: 0.4;
    transition: all 2s ease-in-out;
    &:hover{
      overflow: hidden;
      opacity: 1;
      height: 25vh;
      z-index:1;
    }
  }
}

.diva{
  margin-top: -5vh;
}

.logo-diva{
  position: absolute;
  width: 200px;
  top: 190px;
  opacity: 0.8;
  mix-blend-mode: plus-lighter;
  &:hover{
    opacity: 1;
  }
}
