.panel-title{
  color: white;
  height: 80vh;
  padding: 2vh 3vw 0 3vw;
  .title{
    padding: 10px;
    font-size: 20px;
  }
  .subtitle{
    padding: 10px 10px 10px 30px;
    margin-top: 3vh;
  }
}

.left-img{
  position: absolute;
  height: 45vh;
  left:10px;
  bottom:40px;
  mix-blend-mode: difference;
  opacity: 0.2;
  transition: opacity 2s ease-in-out;
  &:hover{
    opacity:1;
    z-index: 1;
  }
  &_s{
    position: absolute;
    height: 24vh;
    left: -85px;
    bottom: 0;
    mix-blend-mode: difference;
    opacity: 0.2;
    transition: opacity 2s ease-in-out;
    z-index: 1;
    &:hover{
      opacity:1;
    }
  }
}

.panel-pres{
  color: white;
  height: 70vh;
  padding: 15vh 3vw 0 3vw;
  .col-4 img{
    height: 20vh;
    opacity: 0.4;
    transition: all 2s ease-in-out;
    overflow: overlay;
    border-radius: 10px;
  }
  .col-4 img:hover{
    opacity: 1;
    height: 25vh;
  }
}

.fixed-upper-panel{
  height: 20vh;
  padding: 50px;
  .name{
    color: white;
    font-size: 22px;
  }
  .position{
    color: white;
    font-size: 18px;
  }
}

.hidden{
  display:none;
}

.fixed-lower-panel{
  width: 100%;
  position: absolute;
  display:flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  height: 140px;
}

.buttons-js{
  position: relative;
  width: 300px;
  z-index: 1;
  img{
    position: relative;
    width: 100%;
    z-index: 1;
  }
}
.button-right{
  position:absolute;
  right: 18%;
  bottom: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  img{
    filter: brightness(0.4);
    transition: all 1s ease-in-out;
    &:hover {
      filter: brightness(1);
    }
  }
}

.button-left{
  position:absolute;
  left: 18%;
  bottom: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  img{
    filter: brightness(0.4);
    transition: all 1s ease-in-out;
    &:hover {
      filter: brightness(1);
    }
  }
}

.button-up{
  position:absolute;
  left: 50%;
  top: 30%;
  height: 0px;
  width: 40px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  img{
    filter: brightness(0.4);
    transition: all 1s ease-in-out;
    &:hover {
      filter: brightness(1);
    }
  }
}

.button-down{
  position:absolute;
  left: 50%;
  top: 120px;
  height: 50px;
  width: 40px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  img{
    filter: brightness(0.4);
    transition: all 1s ease-in-out;
    &:hover {
      filter: brightness(1);
    }
  }
}

.logo-x img{
  position: absolute;
  width: 500px;
  top: 230px;
  opacity: 0.8;
  mix-blend-mode: plus-lighter;
  -webkit-filter: drop-shadow(1px 1px 1px white);
  filter: drop-shadow(1px 1px 1px white);
  &:hover{
    opacity: 1;
  }
}

.logo-y img{
  position: absolute;
  width: 150px;
  top: 230px;
  opacity: 0.8;
  mix-blend-mode: normal;
  &:hover{
    opacity: 1;
  }
}


body{
  overflow: hidden;
  /* background-color: #1a1a1a; */
  background: linear-gradient(40deg, black, #313131);
}

.left-imgs img{
  position: relative;
  display: flex;
  left: 10px;
  height: 20vh;
  opacity: 0.4;
  transition: all 2s ease-in-out;
  &:hover{
    overflow: hidden;
    opacity: 1;
    height: 25vh;
    z-index:1;
  }
}

.lower-imgs img{
  position: fixed;
  height: 20vh;
  opacity: 0.4;
  transition: all 2s ease-in-out;
  &:hover{
    overflow: hidden;
    opacity: 1;
    height: 25vh;
    z-index:1;
  }
}

.four-setup{
  .first{
    position:absolute;
    width: 20vw;
    top: 45vh;
    left: 2vw;
    opacity: 0.4;
    transition: all 2s ease-in-out;
    &:hover{
      overflow: hidden;
      opacity: 1;
      width: 25vw;
      z-index:1;
    }
  }
  .second{
    position:absolute;
    width: 20vw;
    top: 70vh;
    left: 2vw;
    opacity: 0.4;
    transition: all 2s ease-in-out;
    &:hover{
      overflow: hidden;
      opacity: 1;
      width: 25vw;
      z-index:1;
    }
  }
  .third{
    height: 20vh;
    margin-top: 4vh;
    margin-left: 4vw;
    opacity: 0.4;
    transition: all 2s ease-in-out;
    &:hover{
      overflow: hidden;
      opacity: 1;
      height: 25vh;
      z-index:1;
    }
  }
  .fourth{
    height: 20vh;
    margin-top: 4vh;
    margin-right: 4vw;
    opacity: 0.4;
    transition: all 2s ease-in-out;
    &:hover{
      overflow: hidden;
      opacity: 1;
      height: 25vh;
      z-index:1;
    }
  }
}

.list-setup{
  position: relative;
  text-align: center;
  .first{
    height: 12vh;
    margin: 6vh 4vw 0 3vw;
    opacity: 0.7;
    transition: all 2s ease-in-out;
    &:hover{
      overflow: hidden;
      opacity: 1;
      height: 15vh;
      z-index:1;
    }
    &_f{
      height: 13vh;
      margin: 5.5vh 4vw 0 3vw;
      opacity: 0.8;
      transition: all 2s ease-in-out;
      &:hover{
        overflow: hidden;
        opacity: 1;
        height: 15vh;
        z-index:1;
      }
    }
  }
  .fivth{
    height: 6vh;
    position: relative;
    margin-top: 9vh;
    margin-left: -3vw;
    margin-right: 4vw;
    opacity: 0.7;
    transition: all 2s ease-in-out;
    &:hover{
      overflow: hidden;
      opacity: 1;
      height: 8vh;
      z-index:1;
    }
    &_r{
      height: 6.5vh;
      position: relative;
      margin-top: 9vh;
      margin-right: 4vw;
      opacity: 0.7;
      transition: all 2s ease-in-out;
      margin-left: 4vw;
      &:hover{
        overflow: hidden;
        opacity: 1;
        height: 8vh;
        z-index: 1;
      }
    }
    &__r{
      height: 5.5vh;
      position: relative;
      margin-top: 9vh;
      margin-right: 4vw;
      opacity: 0.7;
      transition: all 2s ease-in-out;
      margin-left: 4vw;
      &:hover{
        overflow: hidden;
        opacity: 1;
        height: 6.5vh;
        z-index: 1;
      }
    }
  }
  .sixth{
    height: 20vh;
    margin-top: 2vh;
    margin-right: 4vw;
    opacity: 0.7;
    transition: all 2s ease-in-out;
    &:hover{
      overflow: hidden;
      opacity: 1;
      height: 25vh;
      z-index:1;
    }
  }
}

.diva{
  margin-top: -5vh;
}

.logo-diva{
  position: absolute;
  width: 200px;
  top: 190px;
  opacity: 0.8;
  mix-blend-mode: plus-lighter;
  &:hover{
    opacity: 1;
  }
}

.white {
  background: linear-gradient(20deg, #1a1a1a, #534e4e);
  padding: 0 1vw 0 1vw;
  border-radius: 10px;
  height: 26vh;
  transition: all 2s ease-in-out;
  margin: 6vh 20px 20px -11vw;
  &:hover{
    background-color: #575757;
  }
  &-xl{
    background: linear-gradient(20deg, #1a1a1a, #534e4e);
    padding: 0 1vw 0 1vw;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    opacity: 0.7;
    &:hover{
      opacity: 0.9;
    }
  }
}

.d-up{
  margin-top: -30px;
}

.enl-r{
  width: 250px;
  margin-left: 8vw;
  text-align: left;
  &r{
    margin-left: 2vw;
  }
  &f{
    margin-left: -34px;
    position: absolute;
    bottom: -7px;
    width: 150px;
    font-size: 10px;
    padding-left: 10px;
  }
  &w{
    font-size: 12px;
    &s{
      font-size: 12px;
    }
    &u{
      width: 195px;
      font-size: 12px;
      margin-top: 10px;
    }
    &d{
      width: 150px;
      font-size: 13px;
      padding-left: 108px;
    }
  }
}

.stud{
  &-a{
    position: absolute;
    bottom: 64vh;
    left: 57vw;
    width: 10vw;
    mix-blend-mode: screen;
    opacity: 0.2;
    transform: rotate(-27deg);
    &:hover{
      opacity: 1;
    }
  }
  &-b{
    position: absolute;
    bottom: 62vh;
    left: 74vw;
    width: 10vw;
    opacity: 0.2;
    mix-blend-mode: plus-lighter;
    transform: rotate(5deg);
    &:hover{
      opacity: 1;
    }
  }
  &-c{
    position: absolute;
    top: 8vh;
    right: 2vw;
    width: 20vw;
  }
  &-d{
    position: absolute;
    bottom: 577px;
    left: 28vw;
    width: 318px;
    opacity: 0.4;
    mix-blend-mode: plus-lighter;
    transform: rotate(19deg);
    &:hover{
      opacity: 1;
    }
  }
  &-e{
    width: 180px;
    border-radius: 5px;
    transition: all 1.5s ease-in-out;
    &:hover{
      width: 220px;
    }
  }
  &-f{
    width: 64px;
    opacity: 0.8;
    transition: all 1s ease-in-out;
    &:hover{
      width: 70px;
      opacity: 1;
      box-shadow: 0px 10px 25px #292929;
    }
  }
  &-g{
    width: 65px;
    opacity: 0.8;
    transition: all 1s ease-in-out;
    &:hover{
      width: 71px;
      opacity: 1;
      box-shadow: 0px 10px 25px #292929;
    }
  }
  &-h{
    width: 67px;
    opacity: 0.8;
    z-index: 1;
    transition: all 1s ease-in-out;
    &:hover{
      width: 75px;
      opacity: 1;
      box-shadow: 0px 10px 25px #292929;
    }
  }
  &-i{
    width: 180px;
    border-radius: 5px;
    transition: all 1.5s ease-in-out;
    &:hover{
      width: 220px;
    }
  }
  &-j{
    width: 200px;
    border-radius: 5px;
    transition: all 1.5s ease-in-out;
    &:hover{
      width: 240px;
    }
  }
  &-k{
    width: 180px;
    border-radius: 5px;
    transition: all 1.5s ease-in-out;
    &:hover{
      width: 220px;
    }
  }
}

.img-des{
  &-e{
    position: absolute;
    display: flex;
    height: 92px;
    top: 6vh;
    left: 14vw;
    flex-direction: column;
    text-align: center;
  }
  &-f{
    position: absolute;
    display: flex;
    height: 92px;
    top: 8vh;
    right: 5vw;
    flex-direction: column;
  }
  &-g{
    position: absolute;
    display: flex;
    height: 92px;
    top: 19.7vh;
    right: 5vw;
    flex-direction: column;
  }
  &-h{
    position: absolute;
    display: flex;
    height: 92px;
    right: 5vw;
    top: 31.5vh;
    flex-direction: column;
    z-index: 1;
  }
  &-i{
    position: absolute;
    display: flex;
    text-align: center;
    width: 220px;
    height: 92px;
    right: 17vw;
    top: 6vh;
    flex-direction: column;
    z-index: 1;
  }
  &-j{
    position: absolute;
    display: flex;
    text-align: center;
    width: 200px;
    height: 92px;
    right: 19vw;
    top: 25vh;
    flex-direction: column;
    z-index: 1;
  }
  &-k{
    position: absolute;
    display: flex;
    text-align: center;
    width: 20vw;
    height: 92px;
    left: 15vw;
    top: 27vh;
    flex-direction: column;
    z-index: 1;
  }
}

.paused{
  animation-play-state: paused;
}

.acad{
  margin-top: -11vh;
}

.pinboard{
  position: absolute;
  margin-left: -20vw;
  width: 88vw;
  height: 41vh;
}

// @media (max-width: 835px) {
//   .pinboard{
//     position: absolute;
//     width: 700px;
//     height: 400px;
//     top: 20vh;
//   }
//   .pinboard-show{
//     display: block;
//   }
// }

.lside-list{
  border: solid 1px white;
  padding: 22px;
  border-radius: 5px;
  &-l{
    background: linear-gradient(40deg, #00000078, #000000c9),
                url('https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/1600/900/75/dam/wdpro-assets/gallery/attractions/epcot/impressions-de-france/impressions-de-france-gallery01.jpg?1660846617767');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #575757;
    padding: 36px;
    border-radius: 5px;
    margin: 30px;
    z-index: 1;
    &:hover{
      background: url('https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/1600/900/75/dam/wdpro-assets/gallery/attractions/epcot/impressions-de-france/impressions-de-france-gallery01.jpg?1660846617767');
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 1px 1px 30px #575757;
      p{
        opacity: 0;
      }
      ul{
        opacity: 0;
      }
    }
  }
}

.rside-list{
  border: solid 1px white;
  margin-left: 10vw;
  padding: 15px;
  border-radius: 5px;
  &-s{
    background: linear-gradient(40deg, #00000078, #000000c9),
                url('https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/1600/900/75/dam/wdpro-assets/things-to-do/dining/blizzard-beach/lottawatta-lodge/lottawatta-lodge-00.jpg?1662769323659');
    margin: 63px 0px 55px 5vw;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #575757;
    padding: 36px;
    border-radius: 5px;
    margin: 30px;
    &:hover{
      background: url('https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/1600/900/75/dam/wdpro-assets/things-to-do/dining/blizzard-beach/lottawatta-lodge/lottawatta-lodge-00.jpg?1662769323659');
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 1px 1px 30px #575757;
      p{
        opacity: 0;
      }
      ul{
        opacity: 0;
      }
    }
  }
}

.logo-z img{
  position: absolute;
  top: 5vh;
  right: 2vw;
  width: 600px;
  opacity: 0.8;
  /* mix-blend-mode: plus-lighter; */
  -webkit-filter: drop-shadow(1px 1px 5px rgb(213, 213, 213));
  filter: drop-shadow(1px 1px 5px rgb(255, 255, 255));
  transition: all 2s ease-in-out;
  &:hover{
    opacity: 1;
    -webkit-filter: drop-shadow(1px 1px 30px rgb(255, 255, 255));
    filter: drop-shadow(1px 1px 30px rgb(255, 255, 255));
  }
}

.l-large{
  margin-left: -5vw;
}

.imgpos{
  &_1{
    position: absolute;
    width: 200px;
    left: 10px;
    bottom: -10px;
  }
  &_2{
    position: absolute;
    width: 40px;
    left: 116px;
    bottom: 63px;
  }
  &_3{
    position: absolute;
    width: 137px;
    left: 240px;
    bottom: 30px;
  }
  &_4{
    position: absolute;
    width: 107px;
    right: 20px;
    bottom: -30px;
  }
  &_5{
    position: absolute;
    width: 122px;
    right: 103px;
    bottom: 16px;
    z-index: 1;
  }
  &_6{
    position: absolute;
    width: 200px;
    left: 240px;
  }
}

.center_des{
  &_a{
    position: absolute;
    bottom: 33px;
  }
  &_b{
    position: absolute;
    bottom: 33px;
  }
  &_c{
    position: absolute;
    bottom: 33px;
  }
}

.left-p{
  margin: 6vh 0 0 -10vw;
  &pa{
    margin: 6vh 0 0 -22vw;
  }
  &pv{
    margin: 6vh -26vw;
  }
  &pi{
    margin: 6vh 0 0 -14vw;
  }
}

.cpl_left{
  &_a{
    position: absolute;
    margin-left: -4vw;
    left: 4vw;
    bottom: 28vh;
    width: 153px;
    transition: all 2s ease-in-out;
    &:hover {
      width: 190px;
      z-index: 1;
    }
  }
  &_b{
    position: absolute;
    margin-left: -4vw;
    left: 4vw;
    bottom: 22vh;
    width: 153px;
    transition: all 2s ease-in-out;
    &:hover {
      width: 190px;
      z-index: 1;
    }
  }
  &_c{
    position: absolute;
    margin-left: -4vw;
    left: 4vw;
    bottom: 32vh;
    font-weight: 800;
    color:#575757;
  }
}

.left-p a{
  text-decoration: none;
  color: white;
  -webkit-filter: drop-shadow(1px 1px 1px white);
  filter: drop-shadow(1px 1px 1px white);
  &:hover{
    -webkit-filter: none;
    filter: none;
    color: var(--bs-link-hover-color);
  }
}

.left-ppv a{
  text-decoration: none;
  color: white;
  -webkit-filter: drop-shadow(1px 1px 1px white);
  filter: drop-shadow(1px 1px 1px white);
  &:hover{
    -webkit-filter: none;
    filter: none;
    color: var(--bs-link-hover-color);
  }
}

a{
  text-decoration: none;
  color: white;
  &:hover{
    color: var(--bs-link-hover-color);
  }
}

.follow-m{
  position: absolute;
  bottom: 0;
  right: 18vw;
  display: flex;
  flex-direction: column;
  background: #2f2f2f;
  text-align: center;
  border-radius: 10px;
  z-index: 1;
  p{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  img{
    background: #5e5e5e;
  }
  .fir{
    width: 200px;
    padding-right: 25px;
    padding-left: 25px;
    transition: all 2s ease-in-out;
  }
  .sec{
    width: 200px;
    padding: 10px 20px;
    transition: all 2s ease-in-out;
  }
  &:hover{
    .fir{
      width: 250px;
    }
    .sec{
      width: 250px;
    }
  }
}

.catdoor img{
  width: 120px;
  position: absolute;
  bottom: 10vh;
  left: 35vw;
  transition: all 2s ease-in-out;
}

.dir_panel{
  position: absolute;
  top: 0;
  left: 30vw;
  width: 45vw;
  height: 5vh;
  border: solid 1px #474747;
  background: #1c1c1d;
  color: antiquewhite;
  font-size: 13px;
  padding: 40px 10px 0 75px;
  box-shadow: 1px 1px 15px #383839;
  border-radius: 0 0 10px 10px;
  transition: all 2s ease-in-out;
  overflow: hidden;
  h2{
    color: white;
    font-size: 15px;
    position: absolute;
    width: 78%;
    text-align: center;
    margin-top: -24px;
    opacity: 1;
    transition: all 2s ease-in-out;
  }
  p{
    opacity: 0;
    transition: all 2s ease-in-out;
  }
  &:hover{
    height: 370px;
    p{
      opacity: 1;
    }
    h2{
      opacity: 0.1;
    }
  }
}
